<!DOCTYPE html>
<html>
	<head>
		<title>Phase Shift by TEMPLATED</title>
		{% load staticfiles %}
		<script src="{% static '/js/test.js' %}"></script>
		<link rel="stylesheet" href="{% static '/css/test.css' %}" />
		
		<!-- <noscript> -->
			
		<!-- </noscript> -->

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="{% static '/js/jquery.min.js' %}"></script>
		<script src="{% static '/js/jquery.dropotron.min.js' %}"></script>
		<script src="{% static '/js/skel.min.js' %}"></script>
		<script src="{% static '/js/skel-layers.min.js' %}"></script>
		<script src="{% static '/js/init.js' %}"></script>
			<link rel="stylesheet" href="{% static '/css/skel.css' %}" />
			<link rel="stylesheet" href="{% static '/css/style.css' %}" />
			<link rel="stylesheet" href="{% static '/css/style-wide.css' %}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		<script type='text/javascript'>
			$(window).load(function (){
			var url = location.href;
			if(url.indexOf('?')!=-1){
			var ary = url.split('?')[1];
			var message = ary.split('=')[1];
			if(ary.split('=')[0] == 'message'){
				alert(message);
			}
			}});
			</script>
			<script>
			function sendData(){
			var searchtext = document.getElementById('search').value;
			location.href='/search/?search='+searchtext;
			}
			</script>

	</head>
	<body>

		<!-- Wrapper -->
			

				<!-- Header -->
					<div id="header" class="skel-panels-fixed" >
						<div id="logo">
							<h1><a href="/index">甜點的心</a></h1>
							<span class="tag">by 16組</span>	
						</div>
						<input id="search" type="search" name="search" placeholder="搜尋" >
							<button class="button fa fa-search" type="search" name="search" onclick="sendData()"></button>
						<nav id="nav">

							{% if request.user.is_authenticated %}
							<ul>
								

								<li><h3>{{request.user}}，歡迎</h3></li>
								<li class="active"><a href="/memberCenter">會員中心</a></li>
								<li><a href="/accounts/logout">登出</a></li>
								<li><a href="{% url 'article:articleCreate' %}">投稿</a></li>
							</ul>
							{% else %}
							<ul>
								<li class="active"><a href="/memberCenter">會員中心</a></li>
								<li><a href="/accounts/login">登入</a></li>
								<li><a href="/accounts/regist">註冊</a></li>
								<li><a href="{% url 'article:articleCreate' %}">投稿</a></li>
							</ul>
							{% endif %}

						</nav>
					</div>
	<div class="wrapper style1">
		<div id="page" class="container">
			<form id="form1" action="{% url 'article:articleCreate' %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{{articleForm.as_p}}
			<p style="display: none;">
				<label for="id_author">作者:</label>
				<input type="text" name="author" maxlength="32" required id="id_title" value="{{request.user}}" readonly>
			</p>
			<input type='submit' value='完成！' style="display: block;margin:auto"> 
			</form>
		</div>
	</div>
	</body>
</html>